# Compilados
*.class
*.jar
target/
build/
out/

# IDEs
.idea/
*.iml
.vscode/
nbproject/private/
.settings/
.classpath
.project

# Credenciales — NUNCA subir
*.env
application-local.properties
secrets.properties

# SO
.DS_Store
Thumbs.db

# Maven / Gradle
.gradle/
gradlew
gradlew.bat
mvnw
mvnw.cmd

# ========================
# Maven
# ========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# ========================
# Spring Boot
# ========================
application.properties
application.yml
application-*.properties
application-*.yml
*.env

# ========================
# Java
# ========================
*.war
*.ear
*.log
hs_err_pid*

# BD local
*.db
*.sqlite
